@charset "UTF-8";

:root{
    --preto: #000000;
    --amarelo: #ffff00;
}

body {
    background-color: #bdb76b;
}

nav {
    width: 800px;
    border: 2px groove var(--preto);
    margin: auto;
    padding: 12px;
    background-color: var(--amarelo);
}
